@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

